In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Make numpy values easier to read.
np.set_printoptions(precision=3, suppress=True)

import tensorflow as tf
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing
import tensorflow as tf
from tensorflow import keras
print(tf.__version__)

2.3.0

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving Data_new.ods to Data_new (1).ods
User uploaded file "Data_new.ods" with length 37215 bytes

In [ ]:
!pip install odfpy

Requirement already satisfied: odfpy in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from odfpy) (0.6.0)

In [ ]:
column_names = ["Player", "Mat" , "Ins", "NO", "2018_Runs", "HS", "Avg", "BF", "SR", "100", "50", "4s", "6s", "2019_Runs"]
column_namest = ["Player", "Mat" , "Ins", "NO", "2019_Runs", "HS", "Avg", "BF", "SR", "100", "50", "4s", "6s"]

Train_data  = pd.DataFrame(pd.read_excel("/content/Data_new.ods", 0, header=None, names=column_names)) # 1 is the index of the second sheet
Test_data  = pd.DataFrame(pd.read_excel("/content/Data_new.ods", 1, header=None, names=column_namest))

In [ ]:
Train_data=Train_data.drop([0])
Test_data=Test_data.drop([0])
Train_Player = Train_data.copy()
Test_Player = Test_data.copy()
Train_Player= Train_Player.pop('Player')
Test_Player = Test_Player.pop('Player')
Test_data = Test_data.drop(['Player'], axis = 1) 
Train_data = Train_data.drop(['Player'], axis = 1)

In [ ]:
Train_Player.astype('string')

1            Aaron Finch
2         AB de Villiers
3        Abhishek Sharma
4         Ajinkya Rahane
5             Alex Hales
             ...
96           Virat Kohli
97     Washington Sundar
98       Wriddhiman Saha
99          Yusuf Pathan
100         Yuvraj Singh
Name: Player, Length: 100, dtype: string

In [ ]:
Test_data.head()

  Mat Ins NO   HS    Avg   BF      SR  100  50  4s  6s
1  12  12  2  100   69.2  481  143.86    1   8  57  21
2  14  14  3  100   53.9  438  135.38    1   6  49  25
3  16  16  1   81  35.26  398  132.91    0   4  45  25
4  16  16  1   97  34.73  384  135.67    0   5  64  11
5  14  13  4   80  56.66  249  204.81    0   4  31  52

In [ ]:
Train_data.head()

  Mat Ins NO 2018_Runs  HS    Avg   BF      SR  100  50  4s  6s 2019_Runs
1  10   9  1       134  46  16.75  100     134    0   0   6   8       160
2  12  11  2       480  90  53.33  275  174.54    0   6  39  30       424
3   3   3  2        63  46     63   33   190.9    0   0   3   5        63
4  15  14  1       370  65  28.46  313  118.21    0   1  39   5       396
5   6   6  0       148  45  24.66  118  125.42    0   0  13   6       165

In [ ]:
Train_features = Train_data.copy()
Test_features = Test_data.copy()

Train_labels = Train_features.pop('2019_Runs')
#Train_labels= Train_labels.pop('Player')
Test_labels = Test_features.pop('2019_Runs')
#Test_labels= Test_labels.pop('Player')

In [ ]:
Train_features.shape

(100, 12)

In [ ]:
Train_labels.shape

(100,)

In [ ]:
Test_data.shape

(100, 12)

In [ ]:
Train_features

    Mat Ins NO 2018_Runs  HS    Avg   BF      SR  100  50  4s  6s
1    10   9  1       134  46  16.75  100     134    0   0   6   8
2    12  11  2       480  90  53.33  275  174.54    0   6  39  30
3     3   3  2        63  46     63   33   190.9    0   0   3   5
4    15  14  1       370  65  28.46  313  118.21    0   1  39   5
5     6   6  0       148  45  24.66  118  125.42    0   0  13   6
..   ..  .. ..       ...  ..    ...  ...     ...  ...  ..  ..  ..
96   14  14  3       530  92  48.18  381   139.1    0   4  52  18
97    7   6  3        65  35  21.66   38  171.05    0   0   5   4
98   11  10  2       122  35  15.25  102   119.6    0   0  17   1
99   15  13  4       260  45  28.88  200     130    0   0  22  11
100   8   6  0        65  20  10.83   73   89.04    0   0   6   2

[100 rows x 12 columns]

In [ ]:
Test_data

    Mat Ins NO 2019_Runs   HS    Avg   BF      SR  100  50  4s  6s
1    12  12  2       692  100   69.2  481  143.86    1   8  57  21
2    14  14  3       593  100   53.9  438  135.38    1   6  49  25
3    16  16  1       529   81  35.26  398  132.91    0   4  45  25
4    16  16  1       521   97  34.73  384  135.67    0   5  64  11
5    14  13  4       510   80  56.66  249  204.81    0   4  31  52
..   ..  .. ..       ...  ...    ...  ...     ...  ...  ..  ..  ..
96    2   2  0        11    6    5.5   10     110    0   0   1   0
97   13   3  3        10   10      0    3  333.33    0   0   1   1
98    3   1  0         9    9      9   10      90    0   0   0   0
99    7   4  0         9    5   2.25   12      75    0   0   1   0
100   3   1  1         9    9      0    9     100    0   0   0   0

[100 rows x 12 columns]

In [ ]:
normalizer = preprocessing.Normalization()
normalizer.adapt(np.array(Train_features))

In [ ]:
Train_labels

1      160
2      424
3       63
4      396
5      165
      ...
96     488
97      64
98     115
99     296
100     67
Name: 2019_Runs, Length: 100, dtype: object

In [ ]:
print(normalizer.mean.numpy())

[ 10.42    8.6     1.79  189.26   47.41   24.372 135.89  133.162   0.05
   1.01   16.39    8.68 ]

In [ ]:
def build_and_compile_model(norm):
  model = keras.Sequential([
      norm,
      layers.Dense(64, activation='relu'),
      layers.Dense(64, activation='relu'),
      layers.Dense(1)
  ])

  model.compile(loss='mean_absolute_error',
                optimizer=tf.keras.optimizers.Adam(0.001))
  return model

In [ ]:
dnn_model = build_and_compile_model(normalizer)
dnn_model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
normalization_1 (Normalizati (None, 12)                25
_________________________________________________________________
dense_3 (Dense)              (None, 64)                832
_________________________________________________________________
dense_4 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 65
=================================================================
Total params: 5,082
Trainable params: 5,057
Non-trainable params: 25
_________________________________________________________________

In [ ]:
Train_features = np.asarray(Train_features)
Train_labels = np.asarray(Train_labels)
#Train_features = tf.convert_to_tensor(Train_features)
#Train_labels = tf.convert_to_tensor(Test_labels)

In [ ]:
x=Train_features.astype('int32')

In [ ]:
y=Train_labels.astype('int32')

In [ ]:
%%time
history = dnn_model.fit(
    x, y,
    validation_split=0.2,
    verbose=0, epochs=100)

CPU times: user 2.14 s, sys: 79.7 ms, total: 2.22 s
Wall time: 2.04 s

In [ ]:
import plotly.graph_objects as go
fig = go.Figure()

fig.add_trace(go.Scatter(x=history.epoch,
                         y=history.history['loss'],
                         mode='lines+markers',
                         name='Training loss'))
fig.add_trace(go.Scatter(x=history.epoch,
                         y=history.history['val_loss'],
                         mode='lines+markers',
                         name='Validation loss'))
fig.update_layout(title='Loss',
                  xaxis=dict(title='Epoch'),
                  yaxis=dict(title='percentage'))
fig.show()

In [ ]:
dnn_model.save('my_model.h5')

In [ ]:
dnn_model = tf.keras.models.load_model('my_model.h5')

In [ ]:
Test_predictions = dnn_model.predict(Test_data.astype('int32'))
for p in Test_predictions:
  print(p)

In [ ]:
Test_predictions.astype('int32')
print(re.sub(r' *\n *', '\n', np.array_str(Test_predictions.astype('int32')).replace('[', '').replace(']', '').strip()))

570
527
528
550
511
504
485
387
448
366
392
416
404
409
414
456
511
380
330
408
385
463
280
338
253
301
233
276
260
300
233
321
290
211
189
137
131
139
187
89
104
137
132
68
87
130
50
50
66
91
84
52
62
75
61
77
78
61
67
39
41
57
53
36
39
51
34
45
43
34
18
54
35
20
30
45
37
33
8
19
6
46
31
14
22
15
33
15
38
61
15
10
26
12
13
33
137
27
22
17

In [ ]:
import re
print(re.sub(r' *\n *', '\n', np.array_str(np.c_[Test_Player.astype('str')]).replace('[', '').replace(']', '').strip()))

'David Warner'
'KL\xa0Rahul'
'Quinton\xa0de Kock'
'Shikhar\xa0Dhawan'
'Andre\xa0Russell'
'Chris\xa0Gayle'
'Rishabh\xa0Pant'
'Virat\xa0Kohli'
'Shreyas\xa0Iyer'
'Jonny\xa0Bairstow'
'AB\xa0de Villiers'
'Suryakumar\xa0Yadav'
'MS\xa0Dhoni'
'Chris\xa0Lynn'
'Rohit\xa0Sharma'
'Hardik\xa0Pandya'
'Shane\xa0Watson'
'Faf\xa0du Plessis'
'Ajinkya\xa0Rahane'
'Suresh\xa0Raina'
'Parthiv\xa0Patel'
'Prithvi\xa0Shaw'
'Manish\xa0Pandey'
'Nitish\xa0Rana'
'Sanju\xa0Samson'
'Mayank\xa0Agarwal'
'Steve\xa0Smith'
'Jos\xa0Buttler'
'Shubman\xa0Gill'
'Ambati\xa0Rayudu'
'Robin\xa0Uthappa'
'Kieron\xa0Pollard'
'Dinesh\xa0Karthik'
'Vijay\xa0Shankar'
'Moeen\xa0Ali'
'David\xa0Miller'
'Marcus\xa0Stoinis'
'Colin\xa0Ingram'
'Krunal\xa0Pandya'
'Sarfaraz\xa0Khan'
'Nicholas\xa0Pooran'
'Mandeep\xa0Singh'
'Kedar\xa0Jadhav'
'Riyan\xa0Parag'
'Kane\xa0Williamson'
'Sunil\xa0Narine'
'Rahul\xa0Tripathi'
'Ben\xa0Stokes'
'Mohammad\xa0Nabi'
'Axar\xa0Patel'
'Ravindra\xa0Jadeja'
'Ishan\xa0Kishan'
'Yuvraj\xa0Singh'
'Gurkeerat\xa0Mann Singh'
'Sam\xa0Curran'
'Shimron\xa0Hetmyer'
'Wriddhiman\xa0Saha'
'Colin\xa0Munro'
'Martin\xa0Guptill'
'Dwayne\xa0Bravo'
'Sherfane\xa0Rutherford'
'Liam\xa0Livingstone'
'Stuart\xa0Binny'
'Jofra\xa0Archer'
'Deepak\xa0Hooda'
'Murali\xa0Vijay'
'Shreyas\xa0Gopal'
'Akshdeep\xa0Nath'
'Evin\xa0Lewis'
'Colin\xa0de Grandhomme'
'Piyush\xa0Chawla'
'Ravichandran\xa0Ashwin'
'Shivam\xa0Dube'
'Yusuf\xa0Pathan'
'Rinku\xa0Singh'
'Rashid\xa0Khan'
'Chris\xa0Morris'
'Mitchell\xa0Santner'
'Rahul\xa0Tewatia'
'Umesh\xa0Yadav'
'Amit\xa0Mishra'
'Harpreet\xa0Brar'
'Prayas\xa0Ray Barman'
'Keemo\xa0Paul'
'Ben\xa0Cutting'
'Krishnappa\xa0Gowtham'
'Simran\xa0Singh'
'Alzarri\xa0Joseph'
'Siddhesh\xa0Lad'
'Shardul\xa0Thakur'
'Kagiso\xa0Rabada'
'Bhuvneshwar\xa0Kumar'
'Kuldeep\xa0Yadav'
'Rahul\xa0Chahar'
'Mitchell\xa0McClenaghan'
'Carlos\xa0Brathwaite'
'Ishant\xa0Sharma'
'Shakib\xa0Al Hasan'
'Pawan\xa0Negi'
'Tim\xa0Southee'

In [ ]:
import re
print(re.sub(r' *\n *', '\n', np.array_str(np.c_[Test_predictions.astype('int32')]).replace('[', '').replace(']', '').strip()))

570
527
528
550
511
504
485
387
448
366
392
416
404
409
414
456
511
380
330
408
385
463
280
338
253
301
233
276
260
300
233
321
290
211
189
137
131
139
187
89
104
137
132
68
87
130
50
50
66
91
84
52
62
75
61
77
78
61
67
39
41
57
53
36
39
51
34
45
43
34
18
54
35
20
30
45
37
33
8
19
6
46
31
14
22
15
33
15
38
61
15
10
26
12
13
33
137
27
22
17

In [ ]:
Train_Player = np.asarray(Train_Player.astype('obj'))
Train_predictions= np.asarray(Train_predictions.astype('int32'))

TypeError: ignored